/* Universal Styles */
* {
margin:0;
padding: 0;
}

/* Header styles - gradient background */
header{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,59,221,1) 0%, rgba(8,8,60,1) 67%);
}

/* Custom boostrap styles */
.custom-line-spacing {
    line-height: 2.5rem;
}

.custom-card {
    background-color: #08083c;
    color: white;
    line-height: 2.5rem;
    margin: 10px;
}

.custom-icon {
    width: 4rem;
}

.custom-subtitle {
    font-size: 1.25rem;
}